RIME_API_KEY=gvycsNaX4hI-n2UwLvO5QJeQh6t_Xha_nbG6-XHSjAU
LIVEKIT_URL=https://cloud.livekit.io/projects/p_3i69osvchdo/settings/keys
LIVEKIT_API_KEY=APIN7Z8a4qRNe9t
LIVEKIT_API_SECRET=••••••••••••••••••••••••••••••••
